@charset "utf-8";
@import "reset.css";

:root {
  --main-color: #6327fe;
  --txt-color: #333333;
  --border-color: #c4c4c4;
  --sub-border-color: #e0e0e0;
  --bg-color: #f2f2f2;
  --emphasis-txt-color: #eb5757;
  --sub-txt-color: #828282;
  --button-border: #bdbdbd;
}

div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body,
button {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  /* 아이폰 기본 폰트 사용 x */
  -webkit-text-size-adjust: none;
}

body {
  font-weight: 400;
  color: var(--txt-color);
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

table,
thead,
tbody,
tr {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

/* 한 줄 말줄임 */
.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 여러만 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* 접근성을 위한 숨김 텍스트 */
.ir {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles */

/* 상품 목록 페이지 시작*/

/* 레이아웃 */
#wrap {
  position: relative;
  min-width: 1920px;
}
#container {
  margin: 160px auto;
  width: 1260px;
}
/* ul */
.product-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 60px;
}

/* li */
.product-item {
  position: relative;
  width: 380px;
}

/* a */
.product {
  position: relative;
  display: block;
}

/* 이미지 스타일 */
.img-container {
  display: inline-block;
  border: 1px solid var(--button-border);
  border-radius: 10px;
  overflow: hidden;
  vertical-align: top;
}

.product-img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: 1;
}

/* product 이름 */
.m-product-name {
  display: block;
  color: var(--txt-color);
  font-size: 18px;
  padding-right: 22px;
  margin-top: 20px;
}
.l-product-name {
  color: var(--txt-color);
  font-size: 24px;
}

/* 가격 스타일 시작 */

/* 전체 가격 컨테이너 */
.product-price {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.price {
  font-weight: bold;
}
.strong {
  color: var(--emphasis-txt-color);
}
.price span {
  font-weight: 400;
}
.m-price {
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.m-price span {
  font-size: 16px;
}
.l-price {
  font-weight: bold;
  font-size: 36px;
  color: var(--emphasis-txt-color);
}
.l-price span {
  font-size: 18px;
}

.del-price {
  color: var(--sub-txt-color);
  font-size: 16px;
  font-weight: 400;
}
.percent-price {
  color: var(--main-color);
  font-size: 16px;
}

/* 가격 스타일 끝 */

/* 버튼 스타일 시작*/

.m-button-fill,
.m-button-fff,
.s-button {
  border-radius: 5px;
}
.m-button-fill {
  background-color: var(--main-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 120px;
}
.m-button-fff {
  border: 1px solid var(--button-border);
  background-color: #ffffff;
  padding: 20px;
}

.s-button {
  border: 1px solid var(--button-border);
  background-color: #ffffff;
  padding: 10px 35px;
}
/* 메인페이지 장바구니 버튼 */
.cart-button {
  position: fixed;
  top: 160px;
  right: 190px;
  width: 80px;
  height: 80px;
  background: url("../assets/icon-shopping-cart-white.svg") center/cover
    no-repeat;
  background-size: 40px 40px;
  border-radius: 50%;
  background-color: var(--main-color);
}
/* 좋아요 버튼 */
.like-btn {
  position: absolute;
  right: 0;
  top: 398px;
  width: 22px;
  height: 22px;
  background: url("../assets/icon-heart.svg") center/cover no-repeat;
  /* background-size: 18px auto; */
}

/* 클릭시 on 클래스 추가 */
.on {
  background: url("../assets/icon-heart-on.svg") center/cover no-repeat;
}
.amount {
}

/* sold-out */
.sold-out {
  background-color: red;
  z-index: 10;
  position: relative;
}
