@charset "utf-8";
@import "reset.css";

:root {
  --main-color: #6327fe;
  --txt-color: #333333;
  --border-color: #c4c4c4;
  --sub-border-color: #e0e0e0;
  --bg-color: #f2f2f2;
  --emphasis-txt-color: #eb5757;
  --sub-txt-color: #828282;
  --button-border: #bdbdbd;
}

div,
span,
article,
section,
header,
main,
footer,
p,
ul,
li,
label,
a,
nav,
h1,
h2,
h3,
form,
input,
button,
img,
textarea,
table,
thead,
tbody,
tr,
th,
td {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body,
button {
  font-family: "Spoqa Han Sans Neo", sans-serif;
  /* 아이폰 기본 폰트 사용 x */
  -webkit-text-size-adjust: none;
}

body {
  font-weight: 400;
  color: var(--txt-color);
}

img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

table,
thead,
tbody,
tr {
  display: block;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
}

/* 한 줄 말줄임 */
.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* 여러만 말줄임 */
.multi-ellipsis {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* 접근성을 위한 숨김 텍스트 */
.ir {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

button {
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styles */

/* 상품 목록 페이지 시작*/

/* 레이아웃 */

#wrap {
  display: flex;
  justify-content: center;
  margin-top: 160px;
  padding-bottom: 156px;
}

/* ul */
.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
  width: 1260px;
}

/* li */
.product-item {
  position: relative;
}

/* a */
.product {
  position: relative;
  display: block;
  width: 380px;
}

/* 이미지 스타일 (img를 감싸고 있는 div)*/
.img-container {
  position: relative;
  width: 380px;
  height: 380px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  overflow: hidden;
}
/* 품절 상품일 경우 .product-item에 .sold-out 추가 -> 이미지 div에 스타일 추가 */
.product-item.sold-out .img-container::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.product-item.sold-out .img-container::after {
  position: absolute;
  content: "SOLDOUT";
  width: 300px;
  background-color: var(--txt-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: var(--bg-color);
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  padding: 11px 0;
}
/* 상품 이름 스타일 */

/* 공통 */
.m-product-name,
.l-product-name {
  line-height: 22px;
}
/* medium 사이즈 */
.m-product-name {
  display: block;
  color: var(--txt-color);
  font-size: 18px;
  padding-right: 22px;
  margin-top: 20px;
}
/* large 사이즈 */
.l-product-name {
  color: var(--txt-color);
  font-size: 24px;
}

/* 상품 가격 스타일 */

/* 전체 가격 컨테이너 */
.product-price {
  display: inline-flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
}
.price {
  font-weight: bold;
}
.strong {
  color: var(--emphasis-txt-color);
}
.price span {
  font-weight: 400;
}

/* medium 사이즈 */
.m-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  /* font-size: 24px;
  display: flex;
  align-items: center;
  gap: 2px;
  line-height: 30px; */
}
.m-price span {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-left: 2px;
  /* font-size: 16px;
  line-height: 20px; */
}

/* large 사이즈 */
.l-price {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: var(--emphasis-txt-color);
}
.l-price span {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-left: 2px;
}

/* 상품 원가 스타일 */
.del-price {
  color: var(--sub-txt-color);
  font-size: 16px;
  font-weight: 400;
}
/* 할인율 스타일 */
.percent-price {
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* 버튼 스타일 */

.m-button-fill,
.m-button-fff,
.s-button {
  border-radius: 5px;
}
.m-button-fill {
  background-color: var(--main-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 120px;
}
.m-button-fff {
  border: 1px solid var(--button-border);
  background-color: #ffffff;
  padding: 20px;
}

.s-button {
  border: 1px solid var(--button-border);
  background-color: #ffffff;
  padding: 10px 35px;
}
/* 메인페이지 장바구니 버튼 */
.cart-button {
  position: fixed;
  top: 160px;
  right: 190px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--main-color);
  background: var(--main-color) url(../assets/icon-shopping-cart-white.svg)
    no-repeat center / 40px 40px;
}
/* 좋아요 버튼 */
.like-btn {
  position: absolute;
  right: 0;
  top: 398px;
  width: 22px;
  height: 22px;
  background: url("../assets/icon-heart.svg") center/cover no-repeat;
  /* background-size: 18px auto; */
}

/* 클릭시 on 클래스 추가 */
.on {
  background: url("../assets/icon-heart-on.svg") center/cover no-repeat;
}
